<!-- Toolbar -->
<mat-toolbar>
  <div class="header">
    <img
      class="logo"
      alt="Critterpedia Logo"
      src="../assets/logo.png"
    />
    <span class="title" *ngIf="!mobile">Critterpedia (New Horizons)</span>
  </div>
  <app-search
    (query)="searchFilter($event)"
    [searchEntries]="searchEntries"
    (optionSelectedEvent)="entrySelected($event, left, right)"
  > </app-search>
  <mat-icon class="menu-button" (click)="right.toggle()">settings</mat-icon>
</mat-toolbar>

<div class="content" role="main">
  <mat-sidenav-container class="info">
    <mat-sidenav #left mode="side" position="start">
      <app-info-panel
        [entry]="selectedEntry"
        [currentHour]="currentHour"
        [currentMonth]="currentMonth"
        (caught)="caught($event, true)"
        (uncaught)="caught($event, false)"
      > </app-info-panel>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-pedia
        (selectedEntry)="entrySelected($event, left, right);"
        [currentHour$]="currentHourPedia$"
        [currentMonth$]="currentMonthPedia$"
        [entries]="displayEntries"
      > </app-pedia>
    </mat-sidenav-content>
    <mat-sidenav #right mode="side" position="end">
      <app-settings
        [filterCreatureType]="filterCreatureType"
        [filterByCaught]="filterByCaught"
        [filterByLeaving]="filterByLeaving"
        [filterByActive]="filterByActive"
        (filterCreatureTypeEvent)="filterCreatureTypeEvent($event)"
        (filterByCaughtEvent)="filterByCaughtEvent($event)"
        (filterByLeavingEvent)="filterByLeavingEvent($event)"
        (filterByActiveEvent)="filterByActiveEvent($event)"
        (sortByEvent)="sortDisplayEntries($event)"
      ></app-settings>
    </mat-sidenav>
  </mat-sidenav-container>

</div>
