<!-- Toolbar -->
<mat-toolbar>
  <img
    class="logo"
    alt="Critterpedia Logo"
    src="../assets/logo.png"
  />
  <span>Critterpedia (New Horizons)</span>
  <app-search
    (query)="searchFilter($event)"
    [searchOptions]="searchOptions"
  > </app-search>
  <mat-icon class="menu-button" (click)="right.toggle()">settings</mat-icon>
</mat-toolbar>

<div class="content" role="main">
  <mat-sidenav-container class="info">
    <mat-sidenav #left mode="side" position="start">
      <mat-icon class="close-sidebar-icon" (click)="left.close()">close</mat-icon>
      <app-info-panel
        [entry$]="selectedEntry$"
        [currentHour$]="currentHourInfo$"
        [currentMonth$]="currentMonthInfo$"
      > </app-info-panel>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-pedia
        (selectedEntry)="entrySelected($event);"
        (openInfo)="left.open()"
        [currentHour$]="currentHourPedia$"
        [currentMonth$]="currentMonthPedia$"
        [entries]="entries"
      > </app-pedia>
    </mat-sidenav-content>
    <mat-sidenav #right mode="side" position="end">
      <app-settings>

      </app-settings>
    </mat-sidenav>
  </mat-sidenav-container>

</div>
