<div class="search">
  <mat-icon class="search-icon">search</mat-icon>
  <mat-form-field class="search-input">
  <input
    type = "text"
    placeholder = "Search"
    aria-label = "Critter Search"
    matInput
    [(ngModel)]="q"
    (ngModelChange)="query.emit(this.q)"
    [matAutocomplete] = "auto">
    <mat-autocomplete #auto = "matAutocomplete">
      <mat-option *ngFor = "let option of searchEntries" [value] = "option.name">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
