<mat-button-toggle-group name="creature type" aria-label="creature type" [value]="filterCreatureType === creatureType.fish? 'fish' : 'bugs'">
  <mat-button-toggle
    value="fish"
    (change)="filterByType($event.value)"
  >Fish</mat-button-toggle>
  <mat-button-toggle
    value="bugs"
    (change)="filterByType($event.value)"
  >Bugs</mat-button-toggle>
</mat-button-toggle-group>
<hr>
<mat-slide-toggle (change)="filterByCaughtChange($event.checked)" [checked]="filterByCaught">
  Only show uncaught
</mat-slide-toggle>
<hr>
<mat-slide-toggle (change)="filterByLeavingChange($event.checked)" [checked]="filterByLeaving">
  Leaving this month
</mat-slide-toggle>
<hr>
<mat-slide-toggle (change)="filterByActiveChange($event.checked)" [checked]="filterByActive">
  Only show active
</mat-slide-toggle>
<hr>
<mat-form-field>
  <mat-label>Order by</mat-label>
  <mat-select [(value)]="sortBy" (valueChange)="sortByEvent.emit(sortBy)">
    <mat-option value="Critterpedia">Critterpedia</mat-option>
    <mat-option value="Bells">Bells</mat-option>
  </mat-select>
</mat-form-field>

